.grid {
	border: 2px solid black;
	width: 120px;
	height: 140px;
	display: flex;
	flex-wrap: wrap;
}

.grid div {
	width: 20px;
	height: 20px;
}

.player-one {
	background-color: red;
	border-radius: 50%;
}
.player-two {
	background-color: blue;
	border-radius: 50%;
}